# Python
__pycache__/
*.py[cod]
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv
.env/
.venv/
env/
ENV/
.env
venv/
# MLflow
mlruns/
mlflow.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Logs and Outputs
logs/
*.log
*.sqlite

# macOS
.DS_Store

# Jupyter Notebooks
.ipynb_checkpoints/
*.ipynb

# Kaggle
.kaggle/

# Local Development
*.local.env

testingsmth.py